
body {
    background-image: url(../static/images/bergen.png);
    margin-left: 10rem;
    margin-top: 10rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ed2727;
  }

  .bg-steel {
    background-color: #070707a1;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #27c033;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #00000093;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .article-metadata{
    color: #ffffff;
  }
  .article-title {
    color: #ffffff;
  }
  
  a.article-title:hover {
    color: #040d97;
    text-decoration: none;
  }
  
  .article-content {
    color: #ffffff;
    white-space: pre-line;
  }
  

  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #000000
  }
  
  .article-metadata a:hover {
    color: rgb(189, 10, 10);
    color: #27c033;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  