[submodule "INFO284/machine-learning-group-exam"]
	path = INFO284/machine-learning-group-exam
	url = https://github.com/X104n/machine-learning-group-exam.git
[submodule "INF142/Assignments/Spring-2021/Assignment1/weather-station"]
	path = INF142/Assignments/weather-station
	url = https://github.com/X104n/weather-station.git
[submodule "INF143A/Assignments/Spring-2022/Assignment1/feistel-network"]
	path = INF143A/Assignments/Spring-2022/Assignment1/feistel-network
	url = https://github.com/X104n/feistel-network.git
[submodule "INF143A/Assignments/Spring-2022/Assignment1/fesitel-exhaustive-search"]
	path = INF143A/Assignments/Spring-2022/Assignment1/fesitel-exhaustive-search
	url = https://github.com/X104n/fesitel-exhaustive-search.git
[submodule "INF143A/Assignments/Spring-2022/Assignment1/Trivium-stream-cipher"]
	path = INF143A/Assignments/Spring-2022/Assignment1/Trivium-stream-cipher
	url = https://github.com/X104n/Trivium-stream-cipher.git
[submodule "INF226/Assignments/Fall-2022/Assignment2/login-server"]
	path = INF226/Assignments/Fall-2022/Assignment2/login-server
	url = https://git.app.uib.no/Stian.Munkejord/login-server.git
