[submodule "INFO284/machine-learning-group-exam"]
	path = INFO284/machine-learning-group-exam
	url = https://github.com/X104n/machine-learning-group-exam.git
[submodule "INF142/Assignments/weather-station"]
	path = INF142/Assignments/weather-station
	url = https://github.com/X104n/weather-station.git
